.popover-body-order {
  height: auto;
  width: 540px !important;
  border: 2px solid rgb(186, 173, 173);

  background-color: white;
}

.pop-over-btn-order {
  background: linear-gradient(to bottom, white, white);
  border: none;
  box-shadow: 0px 0px 0px 0px !important;
  color: black !important;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.variant {
  text-align: start;
}

.transac {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 46.5%;
  padding: 10px; /* Example: Adjust padding as needed */
}

th {
  line-height: 0px;
}

/* big for laptop monitor */
@media (min-height: 700px) and (min-width: 900px) {
  .order-details {
    height: 350px;
  }
  .btn-paid {
    height: 40px;
  }
  .order-details-card {
    height: 1110px;
  }
}

/* for laptop */
@media (min-height: 800px) and (min-width: 900px) {
  .order-details {
    height: 430px;
  }
}

@media (min-height: 1000px) and (min-width: 900px) {
  .order-details {
    height: 670px;
  }
}

/* big monitor */

@media (min-height: 850px) and (min-width: 1200px) {
  .order-details {
    height: 480px;
  }
}

@media (min-height: 950px) and (min-width: 1200px) {
  .order-details {
    height: 570px;
  }
}

@media (min-height: 1000px) and (min-width: 1200px) {
  .order-details {
    height: 670px;
  }
}

.order-details {
  overflow-y: auto; /* Common property extracted to avoid repetition */
}

.striped-border-order {
  height: 2px;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    #6fa7d7,
    #6fa7d7 10px,
    transparent 10px,
    transparent 20px,
    #f08d9a 20px,
    #f08d9a 30px,
    transparent 30px,
    transparent 40px
  );
}
