.profile-popover-body {
  height: auto;
  width: 250px;
  background-color: white;
}

.profile-pop-over-btn {
  background: linear-gradient(to bottom, #ed3f41, #ed3f41);
  border: none;
  box-shadow: 0px 0px 0px 0px !important;
  color: black !important;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
