.search-container {
  position: relative;
  overflow: visible;
}

.paid-icon {
  margin-top: 0px;
}

.search-input {
  border-radius: 15px;
}

.checkout {
  border-radius: 20px;
}

.search-btn {
  position: absolute;
  z-index: 1;
  top: -3px;
  right: -5px;
}

.product-details {
  flex-grow: 1;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollable-buttons-container {
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab; /* Optional: Change cursor to grab */
}

.scrollable-buttons-container:active {
  cursor: grabbing; /* Optional: Change cursor to grabbing when active */
}

.scrollable-buttons-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.category-btn {
  flex: 0 0 auto;
  margin: 0 5px;
  transition: background-color 0.3s;
}
