.search-container {
  position: relative;
  overflow: visible;
}

.paid-icon {
  margin-top: 0px;
}

.search-input {
  border-radius: 15px;
}

.checkout {
  border-radius: 20px;
}

.search-btn {
  position: absolute;
  z-index: 1;
  top: -3px;
  right: -5px;
}

.product-details {
  flex-grow: 1;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollable-buttons-container {
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab; /* Optional: Change cursor to grab */
}

.scrollable-buttons-container:active {
  cursor: grabbing; /* Optional: Change cursor to grabbing when active */
}

.scrollable-buttons-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.category-btn {
  flex: 0 0 auto;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.dots-container {
  position: absolute;
  top: 73px;
  right: -40px;
  transform: translate(-30%, 30%);
}

.dot {
  width: 25px;
  height: 5px;
  background-color: #ccc;
  border-radius: 10px;
  display: inline-block;
  margin: 0 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dot.active {
  background-color: #007bff; /* Change this to your desired active color */
  box-shadow: 0 0 2px 0 #007bff;
}
