.popover-body {
  height: auto;
  width: 550px !important;
  border: 2px solid rgb(186, 173, 173);
  max-width: none;
  background-color: white;
}

.pop-over-btn {
  background: linear-gradient(to bottom, white, white);
  border: none;
  box-shadow: 0px 0px 0px 0px !important;
  color: black !important;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.fixed-footer {
  position: sticky;
  bottom: 0;
  box-shadow: 10px 29px 30px 5px black;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

.fixed-footer.no-shadow {
  box-shadow: none;
}

.bg-red {
  background-color: #f6412d !important;
}
