.sales-report-body {
  padding: 0; /* Remove padding to make it more compact */
  border: dotted 2px black;
}

.product-image {
  width: 40px;
  margin-right: 10px;
}

.product-name {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.variant-name {
  font-weight: 400 !important;
}
.total-text {
  font-style: italic; /* Add italic style to total texts */
  font-size: 22px;
  margin-right: 20px;
  color: red;
}

.border-dotted {
  border-top: 1px solid black;
  padding: 10px;
  margin-top: 20px; /* Ayusin ang margin ayon sa iyong layout */
}

.close-container {
  position: relative;
  overflow: visible;
}

.remove-option {
  position: absolute;
  right: 26px;
  top: 13px;
  cursor: pointer !important;
  font-size: 20px;
  color: red;
}

.sales-report-body {
  padding: 2rem;
}

.label-text {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.5rem;
  display: block;
}

.custom-select {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
