/* search */
.cashier-search-cotaniner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashier-search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 50px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.cashier-search input {
  /* width: 100%; */
  border: none;
  outline: none;
  margin-inline: 5px;
}

.cashier-search input::placeholder {
  font-style: italic;
  color: hsl(0, 0%, 60%);
  letter-spacing: 0.5px;
}

.cashier-search button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 0.3rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cashier-search button:active {
  transform: scale(0.95);
}

.cashier-search button:hover {
  background-color: hsl(221.25, 70.8%, 61.1%);
}

.cashier-search.active {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Suggestions Design */
.cashier-search .cashier-search-suggestions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  /* width: 100%; */
  transform: translate(-50%, 100%);
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.cashier-search.active .cashier-search-suggestions {
  display: block;
}

.cashier-search .cashier-search-suggestions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.cashier-search .cashier-search-suggestions small {
  font-size: 0.9rem;
  font-style: italic;
  color: grey;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  background-size: 50px 50px; /* Ensure icons scale properly */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust width if needed */
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; /* Ensure controls are always visible */
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.main-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.thumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.thumbnail {
  width: 100px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail:hover {
  border: 1px solid red;
}

.arrow-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  width: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.arrow-button.left {
  left: -10px;
}

.arrow-button.right {
  right: -10px;
}

.arrow-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.arrow-button::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 4px 4px 0 0;
  transform: rotate(45deg);
}

.arrow-button.left::before {
  transform: rotate(-135deg);
}

.arrow-button.right::before {
  transform: rotate(45deg);
}
.button-group {
  display: flex;
  gap: 10px;
}

.button-container {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color 0.3s;
  padding: 20px;
}

.button.selected {
  border-color: red !important;
  background-color: #f9f9f9 !important;
}

.button-image {
  margin-right: 10px;
}

.check-icon-background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 1px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  color: white;
  text-align: bottom;
}
