/* search */
.cashier-search-cotaniner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
}

.cashier-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-radius: 50px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.cashier-search input {
  width: 100%;
  border: none;
  outline: none;
  margin-inline: 5px;
}

.cashier-search input::placeholder {
  font-style: italic;
  color: hsl(0, 0%, 60%);
  letter-spacing: 0.5px;
}

.cashier-search button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 0.3rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cashier-search button:active {
  transform: scale(0.95);
}

.cashier-search button:hover {
  background-color: hsl(221.25, 70.8%, 61.1%);
}

.cashier-search.active {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Suggestions Design */
.cashier-search .cashier-search-suggestions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 100%);
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.cashier-search.active .cashier-search-suggestions {
  display: block;
}

.cashier-search .cashier-search-suggestions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

.cashier-search .cashier-search-suggestions small {
  font-size: 0.9rem;
  font-style: italic;
  color: grey;
}

.cashier-search .cashier-search-suggestions ul {
  list-style-type: none;
  padding: 0;
  padding-inline: 5px;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  max-height: 15rem;
  overflow-y: auto;
}

.cashier-search .cashier-search-suggestions ul li {
  padding: 5px 10px;
}

.cashier-search .cashier-search-suggestions ul li:hover {
  background-color: hsl(207, 90%, 56%);
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
}
/* End of Search Design */

/* Ensure consistent styling for all table rows and cells */
tr,
td,
th {
  padding: 0;
  margin: 0;
  height: 50px; /* Set a fixed height for all rows */
  line-height: 50px; /* Align text vertically within cells */
  box-sizing: border-box;
}

/* Remove any default padding or margin from the table */
table {
  border-collapse: collapse;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #000; /* Adjust border style and color as needed */
}

.border-top {
  border-top: 1px solid #000; /* Adjust border style and color as needed */
}
